@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.title {
  margin: 2rem 0;
}

.card-content {
  padding: 1.5rem;
}

.card-image img {
  object-fit: cover;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
